@model List<GradeModel>
@{
    ViewData["Title"] = "All grades";
}

    <h2>All grades</h2>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Subject</th>
        <th>Grade</th>
        <th>Description</th>
    </tr>
    @foreach (var grade in Model)
    {
        <tr>
            <td>@grade.Name</td>
            <td>@grade.Surname</td>
            <td>@grade.Subject</td>
            <td>@grade.Grade</td>
            <td>@grade.Description</td>
        </tr>
    }
</table>